header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  transition: 0.5s;
}

.navbar {
  display: flex;
  column-gap: 5rem;
}

.logo {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo span {
  color: #fff;
  font-weight: 500;
  font-size: 21px;
}

.logo-icon {
  font-size: 25px;
}

.bx {
  font-size: 24px;
  color: var(--main-color);
  margin-right: 5px;
}

.navbar a {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}

.navbar a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}

.navbar a:hover::after,
.home-active::after {
  width: 100%;
}

#menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000001;
  color: var(--bg-color);
}

.shadow #menu-icon {
  color: var(--text-color);
}

.btn {
  padding: 0.7rem 1.4rem;
  font-weight: 400;
  border-radius: 0.5rem;
  color: var(--bg-color);
  background: var(--main-color);
  transition: 0.5s ease;
}

.btn:hover {
  background: #a3212c;
}

.shadow {
  background: var(--bg-color);
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.shadow .navbar a,
.shadow .logo,
.shadow .logo span {
  color: var(--text-color);
}

.shadow .logo {
  color: var(--text-color);
}
