.newsletter {
  max-width: 968px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  margin: 0 auto;
}

.newsletter h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.newsletter form {
  padding: 10px;
  border-radius: 0.5rem;
  align-items: center;
  background: var(--bg-color);
  display: flex;
  gap: 1rem;
}

.newsletter input {
  border: none;
  outline: none;
}

.newsletter .email {
  width: 280px;
}

.newsletter .email::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 400;
}

.newsletter .btn {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}
